<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.appprestamov3">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Prestamo"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".EditClientActivity"></activity>
        <activity android:name=".AddPrestamoActivity" />
        <activity android:name=".VerUnClientActivity" />
        <activity android:name=".VerPrestamosActivity" />
        <activity android:name=".AddClientActivity" />
        <activity android:name=".VerClientActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>